@page "{Source?}"
@model DCH.Pages.Actors.CreateActorsModel
@{
    ViewData["Title"] = "Opret bruger";
    var source = Model.Source ?? "actor"; //Checks if the source of the button is other than /Actor. The default is /Actor
}
<h1>Opret bruger</h1>

<form method="post" asp-route-source="@source">

    <div class="form-group">
        @* <label asp-for="@Model.Actor.Id" class="control-label"></label> *@
        <input asp-for="@Model.Actor.Id" class="form-control" type="hidden" />
        <span asp-validation-for="@Model.Actor.Id" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Actor.Email" class="control-label">E-mail (Må højst indeholde 40 tegn)</label>
        <input asp-for="@Model.Actor.Email" class="form-control" />
        <span asp-validation-for="@Model.Actor.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Actor.Password" class="control-label">Kode (Skal indeholde mindst 8 tegn og mindst 1 tal)</label>
        <input asp-for="@Model.Actor.Password" class="form-control" />
        <span asp-validation-for="@Model.Actor.Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Actor.FirstName" class="control-label">Fornavn (Må højst indeholde 15 tegn)</label>
        <input asp-for="@Model.Actor.FirstName" class="form-control" />
        <span asp-validation-for="@Model.Actor.FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Actor.LastName" class="control-label">Efternavn (Må højst indeholde 15 tegn)</label>
        <input asp-for="@Model.Actor.LastName" class="form-control" />
        <span asp-validation-for="@Model.Actor.LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Actor.Address" class="control-label">Adresse (Må højst indeholde 100 tegn)</label>
        <input asp-for="@Model.Actor.Address" class="form-control" />
        <span asp-validation-for="@Model.Actor.Address" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Actor.City" class="control-label">By (Må højst indeholde 20 tegn)</label>
        <input asp-for="@Model.Actor.City" class="form-control" />
        <span asp-validation-for="@Model.Actor.City" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Actor.PhoneNumber" class="control-label">Tlf.nr.(Et telefonnummer indeholder 8 cifre)</label>
        <input asp-for="@Model.Actor.PhoneNumber" class="form-control" />
        <span asp-validation-for="@Model.Actor.PhoneNumber" class="text-danger"></span>
    </div>
    <div id="hund" class="form-group">
        <label asp-for="@Model.Actor.Dog" class="control-label">Hund (Ja/Nej)</label>
        <input asp-for="@Model.Actor.Dog"  type="checkbox"/>
        <span asp-validation-for="@Model.Actor.Dog" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Opret bruger" class="btn btn-primary large-btn" />

    </div>        
    <div class="form-group button-container">
        @if (source == "admin")
        {
            <a asp-page="/Actors/GetAllActors" class="btn btn-secondary large-btn">Tilbage til medlemslisten</a>
        }
        else
        {
            <a asp-page="/Actors/ActorLogin" class="btn btn-secondary large-btn">Tilbage til login</a>
        }
    </div>

</form>